/* 1500px*/
@media (max-width: 94em) {
  .welcome h1 {
    font-size: 16rem;
  }
  .welcome h1 span {
    font-size: 4rem;
  }
  .headshot {
    height: 100rem;
  }
  .code-icon {
    height: 6.2rem;
  }
  .about-grid {
    gap: 6.2rem;
    width: 100%;
    grid-template-columns: 1fr 2fr;
  }
  .headshot {
    height: 60rem;
  }

  .about__content {
    width: 60rem;
    justify-self: center;
  }
  .section-title h2 {
    font-size: 3.6rem;
  }
  .information__tab {
    font-size: 2.4rem;
  }
  .information__content p {
    font-size: 2rem;
  }
  .skills-list li {
    font-size: 2rem;
  }
  .course-title {
    font-size: 3rem;
  }
  .course-item h3,
  .course-item p {
    font-size: 2rem;
  }
  .course-deets p {
    font-size: 1.6rem;
  }

  .projects-header {
    font-size: 4rem;
  }

  .project-grid {
    /* grid-template-columns: repeat(2, 1fr); */
    max-width: 80rem;
  }
  .project-title {
    font-size: 2rem;
  }
  .btn-show-all {
    font-size: 2.4rem;
    padding: 1.6rem 2.4rem;
  }
  .content-logo h2 {
    font-size: 7.4rem;
  }
  .content-logo p {
    font-size: 2rem;
  }

  #contact-title p {
    font-size: 2.4rem;
  }
  .contact-links {
    font-size: 4.2rem;
  }

  .popout-img {
    height: 20rem;
  }
  .popout-title {
    font-size: 3rem;
  }
  .popout-text {
    margin-bottom: 3.6rem;
  }
  .popout-point {
    margin: 1rem 2rem;
    margin-bottom: 3rem;
  }
  .popout-point h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .popout-point p {
    font-size: 1.6rem;
    text-align: left;
    color: #3d5a80;
  }

  .popout-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
  }
  .popout-btn {
    font-size: 2rem;
    font-weight: 700;
    background-color: #98c1d9;
    box-shadow: 5px 5px 2.5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding: 1.5rem 2.5rem;
    border-radius: 5px;
    margin-bottom: 4.8rem;
    transition: all 0.3s;
  }
}

/* 1250px */
@media (max-width: 79em) {
  .nav-link:link,
  .nav-link:visited {
    padding: 1.5rem;
  }
  .welcome h1 {
    font-size: 12rem;
  }
  .welcome h1 span {
    font-size: 3rem;
  }
  .job-title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.4rem;
  }
  .job-title::before,
  .job-title::after {
    content: '';
    background: #293241;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3px;
    width: 16rem;
  }

  .about-grid {
    gap: 6.2rem;
    width: 100%;
    grid-template-columns: 1fr 2fr;
  }
  .headshot {
    height: 45rem;
  }
  .about-content {
    width: 5rem;
  }
  .information__tab {
    font-size: 2rem;
    width: 18rem;
  }
  .information__content {
    max-width: 95%;
  }
  .skills-list {
    gap: 15rem;
  }

  .content-logo h2 {
    font-size: 6.8rem;
  }
  .content-logo p {
    font-size: 1.6rem;
  }
  .contact {
    height: 40rem;
  }
  #contact-title p {
    font-size: 2rem;
  }
  .contact-links {
    font-size: 3.6rem;
  }
  .copyright {
    margin-top: 2rem;
  }
  .copyright p {
    font-size: 1.4rem;
    margin-top: 0;
  }
}

@media (max-width: 63em) {
  .btn-mobile-nav {
    display: block;
    padding: 0.8rem;
  }

  .nav-links {
    background: rgba(224, 251, 252, 0.93);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.8rem;
    transition: all 0.3s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .nav-links {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .nav-link {
    font-size: 3rem;
  }
  .welcome h1 {
    font-size: 10rem;
  }
  .welcome h1 span {
    font-size: 2.6rem;
  }

  .job-title::before,
  .job-title::after {
    content: '';
    background: #293241;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3px;
    width: 12rem;
  }

  .about-section {
    padding-top: 5rem;
  }
  .about-grid {
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
    justify-content: center;
    gap: 1rem;
  }
  .about__headshot {
    display: flex;
    justify-content: center;
  }
  .about-container {
    width: 30rem;
  }
  .headshot {
    margin: 2.4rem;
  }
  .code-icons {
    width: 26rem;
  }
  .information__tab {
    font-size: 1.6rem;
    width: 16rem;
  }
  .information__content {
    max-width: 95%;
    margin-top: 0;
  }
  .information__content p {
    font-size: 2rem;
  }
  .information__content li {
    font-size: 1.8rem;
  }

  .projects-header {
    font-size: 3.6rem;
  }
  .project-title {
    font-size: 2rem;
  }

  .project-section {
    padding-top: 5rem;
  }
  .btn-show-all {
    font-size: 2rem;
    padding: 1.2rem 2rem;
  }
  .contact-links {
    gap: 1rem;
  }
  .popout {
    width: 50rem;
  }
  .popout-img {
    width: 50.1rem;
  }
}

/* 615px */

@media (max-width: 39em) {
  .nav-links {
    margin: 0rem;
  }
  .nav-link:link,
  .nav-link:visited {
    padding: 1rem 0.5rem;
    font-size: 1.6rem;
    transition: all 0.3s;
  }

  .about__content {
    width: 35rem;
  }
  .welcome h1 {
    font-size: 6.4rem;
  }
  .welcome h1 span {
    font-size: 1.8rem;
  }

  .job-title {
    font-size: 1.8rem;
  }
  .job-title::before,
  .job-title::after {
    height: 3px;
    width: 5rem;
  }

  .section-title h2 {
    font-size: 2.4rem;
  }

  .information__tab {
    padding: 0.5rem 0.5rem;
  }
  .information__content p {
    font-size: 1.6rem;
  }
  .information__content li {
    font-size: 1.4rem;
  }

  .skills-list {
    gap: 8rem;
  }
  .skills-list li {
    font-size: 1.6rem;
  }
  .course-title {
    font-size: 2.4rem;
  }
  .course-item h3 {
    font-size: 1.6rem;
  }

  .course-item p {
    font-size: 1.2rem;
  }
  .course-deets p {
    font-size: 1rem;
  }

  .projects-header {
    font-size: 2.4rem;
  }
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
  .project-title {
    font-size: 1.6rem;
  }
  .btn-show-all {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
  }

  .content-logo h2 {
    font-size: 4.4rem;
  }

  .content-logo p {
    margin: 0;
  }
  .contact-job::before,
  .contact-job::after {
    width: 5rem;
  }
  .contact-content {
    margin: 2.4rem 0;
  }
  .contact-links {
    margin: 0;
    font-size: 2.4rem;
    gap: 0;
  }
  .contact {
    height: 33rem;
  }

  .popout {
    max-height: none;
    width: 100%;
    height: 100%;
    border-radius: 0;
    overflow-y: auto;
  }
  .popout-img {
    width: 100%;
    /* height: 40rem; */
  }
}

@media (max-width: 26em) {
  .btn-mobile-nav {
    padding: 0;
    background: none;
  }
  .nav {
    background: none;
  }
  .nav-link:link,
  .nav-link:visited {
    font-size: 2.6rem;
  }

  .about-container {
    width: 27rem;
  }
  .headshot {
    width: auto;
  }

  .about__tab-container {
    margin-left: 2rem;
    /* width: 24rem; */
  }
  .information__tab {
    margin: 0.5rem;
  }
  .information__content {
    margin-left: 2rem;
    margin-top: 5rem;
  }

  .popout-img {
    height: 20rem;
  }
  .popout-buttons {
    gap: 0rem;
    padding: 2rem;
  }
  .popout-btn {
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
  }
  .contact {
    height: 36rem;
  }
}
