/*
-- 01 typography system

--FONT SIZES (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--font weights:
default:400
500
600
700
--line heights:
default:1
small: 1.05
paragraph default: 1.6

--letter space:
-.5px
.75px


-- 02 COLORS
--primary: #3D5A80 #98C1D9 #E0FBFC #EE6C4D #293241
--tints: 
--shades: 
--accents:
--Greys: #555  #333 #6f6f6f

--- 05 SHADOWS

--- 06 border radius

default: 

-- 07 whitespace

--SPACING SYSTEM (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/
